
@use '../../base.module';


.footer {

  background-image: linear-gradient(to top, #EEEFF1, white );
  grid-area: footer;
  display: flex;
  flex-direction: column;

  &__link {
    color: #6F6E6E;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;


    &:-webkit-any-link{
      text-decoration: none;
    }
    &:-moz-any-link {
      text-decoration: none;
    }
  }

  &__copyright {
    justify-self: center;
    text-align: center;
  }

  @media (max-width: 375px) {

    padding-bottom: 10px;
    &__link {

      color: #6F6E6E;

    }

  }

}
