@use '../../base.module';

.header {
  background-image: linear-gradient(to bottom, #EEEFF1, white);
  margin: 0;
  padding: 0;
  grid-area: header;
  font-family: CormorantGaramond, sans-serif;
  display: grid;
  @media (max-width: 375px){
    grid-template-columns: auto auto;
    grid-template-rows: min-content auto;
    grid-template-areas: "title  title"
                         "navBar searchBar";


  }

  h1 {
    margin-top: 20px;
    grid-area: title;
    text-align: center;
    text-transform: capitalize;

  }
  .header__navBar {
    grid-area: navBar;


  }
  .header__searchBar {
    margin: 0 5px 5px 0;
    display: flex;
    grid-area: searchBar;
    align-items: flex-end;
    justify-content: flex-end;
    input {
      border: 1px solid #EEEFF1;
    }
    .searchBar__btn {
      border: 1px solid #EEEFF1;
    }
  }

  .navBar__btn {
     grid-area: navBar;
     margin: 0 20px 5px 5px;
     border: 1px solid #EEEFF1;
     width: 50px;
     height: fit-content;
     border-radius: 10%;
     .line {
       border: 2px solid lightslategray;
       margin: 2px;
     }
   }

}



