@use '../../base.module';

.landscape {
  font-family: base.$font-stack;
  grid-row: 1;
  &__title {
    text-align: center;
  }
  &__separator {
    width: 80%;
  }

  @media(max-width: 375px) {
    grid-column: span 2;
    grid-row: 1;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;



  }
}
