@use '../../../base.module';
@use '../../../components/Main/Main.module';

.haikusList {

  font-family: base.$font-stack;
  text-align: center;
  padding: 5px;
  &__title {

  }
  &__separator {
    width: 75%;
  }
  @media (max-width: 375px) {
    grid-column: span 2;

  }
}


