@use '../../../base.module';

.haikusList {
  margin-top: 0;
  font-family: base.$font-stack;
  grid-area: haikuList;
  text-align: center;
  padding: 5px;
  &__title {

  }
  &__separator {
    width: 75%;
  }
  @media (max-width: 375px) {
    grid-column: span 2;

  }
}


