@use '../../base.module';

.main {
  margin: 0 5px 0 5px;
  grid-area: main;
  display: grid;
  @media (max-width: 375px) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "landscape"
                         "haikusList";

  }

}
