@use '../../base.module';

.main {

  grid-area: main;
  display: grid;
  grid-template: "landscape" auto
                 "haikusList" auto
                 / 100%;


  @media (max-width: 375px) {
    margin: 0 5px 0 5px;
    grid-template: "landscape" auto
                   "haikusList" auto
                   / 100%;

  }

}
