@use '../../base.module';

.main {

  grid-area: main;
  display: grid;
  grid: "....." min-content
        "....." fit-content(70%)
        / 100%;
  justify-content: center;
  justify-items: center;



  @media (max-width: 375px) {
    margin: 0 5px 0 5px;
    grid-template: "....." auto
                   "....." 1fr
                   / 100%;


  }

}
